@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book


<div class="card card-header m-lg-5 p-5">
    <h5>
        Title: @Model.Title
        <span class="badge bage-pill badge-danger" style="float:initial">
            <h5>$@Model.Price</h5>
        </span>
    </h5>
    <span>
        <p class="d-inline-block text-lg-center">Author: @Model.AuthorFirstName</p>
        <p class="d-inline-block">@Model.AuthorLastName</p>
        <p class="font-weight-lighter">Category: @Model.Category</p>
    </span>

    <form id="@Model.BookID" asp-page="/Buy" method="post">
        <input type="hidden" asp-for="BookID"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
        <span class="card-text p-1">
            @Model.Title
            <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                Purchase
            </button>
        </span>


    </form>
</div>